/*
Colors used:
Primary - Rose - rgba(244,124,196,1.0)
Secondary - Charcol - rgba(106,89,89,1.0)
Accent - Lime - rgba(153,219,87,1.0)
Background - Dust - rgba(214,211,211,1.0)
Black - rgba(0,0,0,1.0)
White - rgb(255,255,255,1.0)
*/

*{
  box-sizing: border-box;
}

header{
  background-color: rgba(214,211,211,1.0);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.75);
}

main{
  padding-top: 200px;
}

nav > ul{
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav > ul > li{
  display:inline-block;
}

nav > ul > li > a{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0,0,0,1.0);
}

#hero{
  background-color: rgba(214,211,211,1.0);
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

body{
  background-color: rgba(214,211,211,1.0);
font-family:'Ubuntu', sans-sherif;
font-size: 16px;
font-weight: 300;
line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* This section is to style the hyperlinks */
a {
  color: rgba(244,124,196,1.0);
  text-decoration: none;
  /* no underline */
}

a:hover,
a:focus {
  color: rgba(153, 219, 87, 0.6);
  text-decoration: underline;
  /* underline while hovering */
}

a:visited {
  color: rgba(244, 124, 196, 0.6);
}

a:active {
  color: rgba(244, 124, 196, 1.0);
}

/* styling the read more button */
.button {
  display: inline-block;
  background-color: rgba(153, 219, 87, 0.6);
  color: rgba(106, 89, 89, 0.6);
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(106, 89, 89, 1.0);
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 1.0;
  text-decoration: underline;
}

.button:active {
  background-color: rgba(153, 219, 87, 1.0);
  color: rgba(106, 89, 89, 1.0);
}

/* styling email me button */
.button.contact {
  background-color: transparent;
  color: rgba(106, 89, 89, 0.6);
  text-transform: uppercase;
  border: 2px solid rgba(153, 219, 87, 1.0);
}

.button.contact:hover {
  color: rgba(106, 89, 89, 1.0);
  text-decoration: underline;
}

.button.contact:active {
  background-color: rgba(153, 219, 87, 1.0);
  color: rgba(106, 89, 89, 1.0);
}

/* Layout Styling */

.container{
  padding: 0 15px;
  display: block;
}

.row{
  margin: 25px 0;
}

#work .row{
  padding-bottom: 25px;
  border-bottom: 4px solid rgba(0,0,0,1.0);
}

#hero {
  text-align: center;
}
#hero span{
  display: block;
}

.logo{
  max-width: 250px;
}

/* footer styling */

#contact .container{
  background-color: rgba(214,211,211,1.0);
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

#contact ul{
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

#contact ul li{
  display: inline-block;
}

#contact ul li a svg{
  max-width: 50px;
}

/* ===================================
  Medium devices (640px and up)
  ===================================*/
  @media only screen and (min-width: 640px) {
header{
  text-align: unset;
  padding: 20px 0 13px;
}

nav{
  width: auto;
  float: right;
  margin-top: 4px;
}

body{
  font-size: 18px;
}
.col-md-6{
  width: 50%;
}
    }

    /* ===================================
      Large devices (1024px and up)
      ===================================*/
      @media only screen and (min-width: 1024px) {

        }

        /* ===================================
          Extra Large devices (1440px and up)
          ===================================*/
          @media only screen and (min-width: 1440px) {

            }

[class*="col-"]{
  float: left;
}
