/*
Colors used:
Primary - Rose - rgba(244,124,196,1.0)
Secondary - Charcol - rgba(106,89,89,1.0)
Accent - Lime - rgba(153,219,87,1.0)   Dark - rgba(119,173,64.1.0)
Background -Sand - rgba(258,198,141,1.0)                       [Previously Dust - rgba(214,211,211,1.0)]
Black - rgba(0,0,0,1.0)
White - rgb(255,255,255,1.0)
*/
* {
  box-sizing: border-box;
}

header {
  background-color: rgba(258, 198, 141, 1.0);
  padding: 10px 0 4px;
  position: fixed;
  width: 100%;
  height: 110px;
  box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.75);
}

main {
  padding-top: 120px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 1.0);
}

#hero {
  background-color: rgba(258, 198, 141, 0.8);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

body {
  background-color: rgba(258, 198, 141, 0.8);
  font-family: 'Asul', sans-sherif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* This section is to style the hyperlinks */
a {
  color: rgba(244, 124, 196, 1.0);
  text-decoration: none;
  /* no underline */
}

a:hover,
a:focus {
  color: rgba(119, 173, 64.1.0);
  text-decoration: underline;
  /* underline while hovering */
}

a:visited {
  color: rgba(244, 124, 196, 0.6);
}

a:active {
  color: rgba(244, 124, 196, 1.0);
}

/* styling the read more button */
.button {
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 1.0);
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(106, 89, 89, 1.0);
  transition: 0.2s opacity;
}

.button:hover {
  background-color: rgba(119, 173, 64.1.0);
  text-decoration: underline;
}

.button:active {
  background-color: rgba(153, 219, 87, 1.0);
  color: rgba(106, 89, 89, 1.0);
}

/* styling email me button */
.button.contact {
  background-color: transparent;
  color: rgba(106, 89, 89, 0.6);
  text-transform: uppercase;
  border: 2px solid rgba(153, 219, 87, 1.0);
}

.button.contact:hover {
  color: rgba(106, 89, 89, 1.0);
  text-decoration: underline;
}

.button.contact:active {
  background-color: rgba(153, 219, 87, 1.0);
  color: rgba(106, 89, 89, 1.0);
}

.resume {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 1.0);
}

/* Layout Styling */
.container {
  padding: 0 15px;
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 4px solid rgba(0, 0, 0, 1.0);
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

.logo {
  max-width: 250px;
  max-height: 80px;
}

/* footer styling */
#contact .container {
  background-color: rgba(258, 198, 141, 1.0);
  font-size: 1.7em;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

#contact ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

#contact ul li {
  display: inline-block;
}

#contact ul li a svg {
  max-width: 50px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* ===================================
  Medium devices (640px and up)
  ===================================*/
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    border: none;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    border: none;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }
}

/* ===================================
      Large devices (1024px and up)
      ===================================*/
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }
}

/* ===================================
          Extra Large devices (1440px and up)
          ===================================*/
@media only screen and (min-width: 1440px) {}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes color-change {
  0% {
    fill: #eda2c0;
  }

  50% {
    fill: #bf9aca;
  }

  100% {
    fill: #8E4162;
  }
}

#shaddow {
  animation: 8s color-change infinite alternate linear;
}

@keyframes innitials-move {
  from {
    transform: translate(0, -50px);
  }

  to {
    transform: translate(-200px, -50px);
  }
}

#innitials {
  animation: 20s innitials-move infinite alternate linear;
}

@keyframes sun-move-reverse {
  from {
    transform: translate(-446px, -48px);
  }

  to {
    transform: translate(-100px, -48px);
  }
}

#sun {
  animation: 24s sun-move-reverse infinite alternate linear
}
